

.fondo{
    background: linear-gradient(135deg, rgb(231, 220, 220), rgb(92, 231, 150), rgb(48, 135, 161));
    background-size: cover;
    background-position: center;    
 };

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-delete:hover {
    transition: transform 0.3s ease;
    transform: translateY(-5px);

}

.btn-edit:hover {
    transition: transform 0.3s ease;
    transform: translateY(-5px);

}

.user-name:hover {
    background-color: #0dcaf0;
    transition: transform 0.3s ease;
    transform: translateY(-5px);
}



.contenido {
    margin-bottom: 30px;
}